<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- my custom css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>My Projects</title>
</head>
<body>

<div class="jumbotron ">
    <div class="container text-center ">
        <h1>My Projects</h1>
        <p>P.Śmieja</p>
    </div>
</div>
<div class="container text-center">
    <div class="lead">
        This is a list of my programming and science projects. Code for all the programming projects listed is
        available on my <a href="https://github.com/psmieja">GitHub</a>.
    </div>
    <hr>
</div>
<div class="container">
    <div clas="row">
        <div class="col-sm-3 col-sm-push-9">
            <p>
                <img src="{{icon_path('github')}}" class="contact-logo">
                <a href="https://github.com/psmieja" class="contact-link">github.com/psmieja</a>
            </p>
            <hr>
        </div>
        <div class="col-sm-9 col-sm-pull-3">
            <!-- PROJECTS ARE LISTED HERE -->
            {% block content %}{% endblock %}
            <br>
        </div>
    </div>
</div>

<footer class="navbar fixed-bottom">
    <div class="container-fluid text-center text-md-left">
        <hr>
        <div>GitHub icon made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>E-mail icon made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>internet icon made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div> Icons for HTML, js, CSS, PHP, Flask, Bootstrap, Rust and C come from <a href="https://icons8.com/">https://icons8.com/</a></div>
        <!-- <a target="_blank" href="https://icons8.com/icon/XWesbnSd4AUa/rust">Rust</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
    </div>
</footer>

<!-- scripts for bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
